.icon12 {
    width: 12px;
    height: 12px;
}

.icon14 {
    width: 14px;
    height: 14px;
}

.icon14_16 {
    position: relative;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    padding-right:2px;
}

.pay_radio {
    position:relative;
    left:2px;
    float:right;
}

.block {
    display:inline-block;
}

.fl {
    float:left;
}

.fr {
    float:right;
}

body {
    background-color: #ccc;
}

.content {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
}
